<ion-content>
  <!-- it contains the color of mi background (blue linear) -->
  <div class="d-flex-center wrapper" (click)="jump()">
    <!-- bakcground style (my space img) -->
    <div class="background" [ngStyle]="{
      'background-size':containerWidth+'px '+containerHeight+'px',
      'width':containerWidth+'px',
      'height':containerHeight+'px'
    }">

      <!-- initial screen when the game is not ready -->
      <div *ngIf="!gameStarted" class="d-flex-center text">
        <section>
          <!-- Plane logo (bird) -->
          <img class="spaceship logo" src="../../assets/assets_flappy_bird_ionic/images/plane2.gif" alt="">
          <br><br>
          <!-- First game -->
          <div *ngIf="!gameOver">
            <div class="subtext">Kxm1</div>
            Slippery SpaceShip
          </div>

          <div *ngIf="gameOver">
            <div class="subtext">Juego Finalizado</div>
            Puntaje: {{score}}
          </div>

          <div *ngIf="gameOver" id="register-puntuation">
            <app-modal-player [score]="score"></app-modal-player>
          </div>

          <!-- Button to start the game -->
          <ion-button (click)="startGame()" color="warning" mode="ios" shape="round">
            {{!gameOver ? 'jugar':'Volver a jugar'}}
            <ion-icon slot="end" name="play"></ion-icon>
          </ion-button>

          <!-- Turn music or off -->
          <ion-button color="success" mode="ios" shape="round" (click)="playMusic()">
            <ion-icon [name]="musicActive?'volume-mute-outline':'volume-high-outline'"></ion-icon>
          </ion-button>

          <ion-button *ngIf="gameOver" (click)="resetGameOver()" expand="block" color="primary" shape="round">
            Volver al inicio
          </ion-button>

          <div id="best-puntuations" *ngIf="!gameOver">

            <div class="subtext">Mejores puntuaciones</div>

            <!-- Lista -->
            <ion-list class="best-players">
              <ion-item *ngFor="let pl of playersW()">
                <ion-avatar aria-hidden="true" slot="start">
                  <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>{{pl.userName}} {{pl.score}} pts</ion-label>
              </ion-item>
            </ion-list>
            <!-- Lista -->

          </div>


        </section>

      </div>

      <!-- Game started -->
      <section *ngIf="gameStarted">

        <div class="score">{{score}}</div>
        <!--up obstacle  -->
        <app-obstruction [height]="obstacleHeight" [width]="obstacleWidth" [left]="obstaclePosition" [top]="0"
          [rotation]="180"></app-obstruction>

        <!-- rocket -->
        <app-rocket [height]="planeHeight" [width]="planeWidth" [top]="planePosition"></app-rocket>

        <!-- down obstacle -->
        <app-obstruction [height]="containerHeight -obstacleGap -obstacleHeight" [width]="obstacleWidth"
          [left]="obstaclePosition"
          [top]="containerHeight - (obstacleHeight+ (containerHeight - obstacleGap - obstacleHeight))"
          [rotation]="0"></app-obstruction>

      </section>

    </div>




  </div>
</ion-content>